@model Telematics.Models.LogsViewModel
@section Breadcrumbs{
    <ol class="breadcrumb navbar-breadcrumb">
        <li>Dashboard</li>
    </ol>
}

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCI3JqXKW83iCKPJOWxzoI41BnD7bT8SjY" async="" defer="defer" type="text/javascript"></script>
<script type="text/javascript">
    var map;
    var markersArray = [];
    var opt = { minZoom: 6, maxZoom: 9 };
    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(1.372526, 103.802263),
            zoom: 12,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            minZoom: 6,
        };
        var infoWindow = new google.maps.InfoWindow();
        map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
        var _c = null;


        @foreach(var item in Model.logs_list)
        {
            <text>
                 markersArray.push(new google.maps.Marker({
                     draggable: false,
                     animation: google.maps.Animation.DROP,
                     position: new google.maps.LatLng('@item.lat', '@item.lng', false),
                     title: '@item.lic_no',
                     map: map
                 }));
            </text>
        }

        for (var i = 0 ; i < markersArray.length ; i++) {
            google.maps.event.addListener(markersArray[i], 'click', function () {
                map.panTo(this.getPosition());
            });
        }

        var myLatlng = new google.maps.LatLng(log.lat, log.lng);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.title
        });
    }

    function putMarker() {
        new google.maps.Marker({
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: new google.maps.LatLng(1.375487, 103.809876 , false),
            title: "test",
            map: map
        })
    }

    function findMarker() {
        var found = false
        for(i = 0 ; i < markersArray.length ; i++) {
            if (markersArray[i].getTitle() == document.getElementById('v_no').value) {
                map.panTo(markersArray[i].getPosition());
                if (map.getZoom() < 15) {
                    smoothZoomTo();
                }
                found = true;
            }
        }
        if (!found) {
            putMarker();
        }
    }

    function smoothZoomTo() {
        map.setZoom(map.getZoom() + 1);
        if (map.getZoom() < 15) {
            setTimeout(function () { smoothZoomTo(); }, 50);
        }
    }

    function locate() {
        document.getElementById('dvMap').appendChild('<button>abc</button>');
    }

    function search() {
        var table_html = '<table style="width:100%" border="1">';
        for (i = 0 ; i < markersArray.length ; i++) {
            if (markersArray[i].getTitle() == document.getElementById('v_no').value) {

            }
        }
    }
</script>

<div class="side-body padding-top">
    <div class="row">
        <div class="col-md-6" style="margin-bottom:10px">
            <h3 style="background-color:#22A7F0;padding:10px 10px 10px 10px">Find Vehicle</h3>
            <label>Vehicle No.</label>
            <input type="text" name="v_no" id="v_no" onchange="findMarker()" style="padding:10px 10px 10px 10px" placeholder="License Number" />
        </div>
        <div id="resulttable" name="resulttable" class="col-md-6" style="margin-bottom:10px">
            <h3 style="background-color:#00ff21;padding:10px 10px 10px 10px">Results</h3>
        </div>
    </div>
    <div id="wrapper" style="position:relative">
        <div id="dvMap" style="width:100%;position:relative; height: 500px">
        </div>
    </div>
</div>
